/******General***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --big-text-font-style: 22px;
  --title-font-style: 18px;
  --text-font-style: 16px;
  --small-text-font-style: 14px;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/******Header******/
.body-navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 30px;
  margin: 0;
}
.body-navbar img {
  width: 3.8rem;
  height: 19px;
  padding: 30px 0;
}

.navbar a {
  font-size: var(--text-font-style);
  margin-left: 50px;
  padding-top: 14px;
  gap: 68px;
}

.navbar a:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/*****Search*****/
.search-header h1 {
  font-size: var(--big-text-font-style);
  margin: 0;
  padding-bottom: 8px;
}
.search-header p {
  font-size: var(--text-font-style);
  margin: 0;
  padding-bottom: 35px;
}

/*****Barnav*****/
.search-bar {
  display: flex;
}
#location-dot {
  color: #000000;
}
.search-bar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125em;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  background-color: var(--main-bg-color);
}
.search-bar input {
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  border-left: transparent;
  border-right: transparent;
  height: 49px;
  width: 195px;
}
::placeholder {
  color: #000000;
  font-weight: 700;
  font-size: var(--title-font-style);
  text-align: center;
}

.search-bar button {
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  border-radius: 0px 15px 15px 0px;
  height: 49px;
  width: 132px;
  color: #fff;
  font-size: var(--text-font-style);
  font-weight: 700;
  background-color: var(--main-color);
  cursor: pointer;
}
#magnifying-glass {
  display: none;
}

/*****Filters*****/
.filters {
  display: flex;
  padding-top: 35px;
  align-items: center;
}
.filters-title {
  font-size: var(--title-font-style);
  font-weight: 700;
  padding-right: 15px;
}
.filters-button-container {
  display: flex;
  gap: 10px;
}
.filters i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.filters-button {
  background-color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 4px 19px;
  height: 50px;
  cursor: pointer;
}
.filters-text {
  font-size: 17px;
  font-weight: 700;
}
.filters-button:hover {
  background-color: #deebff;
}

/*****Details*****/
.search-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--text-font-style);
  margin-top: 16px;
  margin-bottom: 25px;
}
.search-info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1.3px solid #d9d9d9;
}

/******Hostings******/
.hebergements {
  width: 65%;
}
.hostings-title {
  font-size: var(--big-text-font-style);
  margin: 0;
  padding-bottom: 30px;
}
.hostings {
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.img-hosting {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 124px;
  object-fit: cover;
}
.ratings {
  display: flex;
  width: 14.294px;
  height: 13.25px;
  padding-top: 8px;
}

/*Modify text position with image*/
.hostings-all {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}

/*Modify text position*/
.rooms-all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
}
.room h3 {
  font-size: var(--text-font-style);
  margin: 8px 0 0;
}
.room p {
  font-size: var(--small-text-font-style);
  margin-top: 8px;
  margin-bottom: 8px;
}
.show-more {
  font-size: var(--title-font-style);
  font-weight: 700;
  margin-top: 30px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Popular ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.section-title {
  margin: 0;
  font-size: var(--big-text-font-style);
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: var(--text-font-style);
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/******Activities*****/
.activities {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding-bottom: 30px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.activities-all {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.activities-link {
  width: 100%;
  border-radius: 20px;
  margin-top: 30px;
  background-color: #fff;
}
.activity img {
  display: flex;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 380px;
}
.activities-title {
  font-size: var(--big-text-font-style);
  margin-bottom: 0;
}
.activities h3 {
  font-size: var(--text-font-style);
  margin: 20px 0px 19px 20px;
}

/******Footer******/

.footer {
  background-color: var(--main-bg-color);
  padding: 20px;
  padding-top: 0;
  display: flex;
  height: 163px;
}

.footer div {
  flex: 1;
}

.footer-links a {
  display: block;
  margin-bottom: 15px;
  font-size: var(--text-font-style);
}
.footer h4 {
  font-size: var(--title-font-style);
  margin-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  body {
    max-width: 1024px;
    max-height: 1969px;
  }

  /*Filters*/

  .filters-button-container {
    gap: 15px;
  }
  .filters {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
  }
  .filters-button {
    width: auto;
  }
  .filters-text {
    font-size: var(--text-font-style);
  }

  /*Cards*/
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .populaires {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 15px;
    order: 2;
  }
  .hebergements {
    width: 100%;
    order: 1;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: var(--small-text-font-style);
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /*Activities*/

  .activities-link {
    width: 100%;
  }
  .activity img {
    max-height: 200px;
  }
  .activities h3 {
    margin: 20px 19px 20px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  html,
  body {
    max-width: 767.98px;
    max-height: 4058px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .main-container {
    padding: 0;
  }

  /*Header*/

  .body-navbar {
    flex-direction: column;
  }
  .body-navbar img {
    padding: 30px 30px 20px;
    margin: 0 auto;
  }
  .navbar {
    display: flex;
  }
  .navbar a {
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 3px solid #f2f2f2;
    text-align: center;
  }

  .navbar a:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }

  /*Text*/
  .search-header {
    margin-left: 20px;
  }
  .search-bar {
    display: flex;
    width: 100%;
  }

  /*Form*/

  .search-bar {
    margin: 0 20px;
    padding-bottom: 35px;
  }
  .search-bar input {
    width: 60%;
  }
  .search-bar button {
    width: 14%;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  #magnifying-glass {
    display: inline;
    color: #fff;
  }

  .button-search {
    display: none;
  }

  /*Filters*/

  .filters {
    position: relative;
    margin: 20px 20px 15px;
  }
  .filters-title {
    position: absolute;
    top: -40px;
  }
  .filters-button {
    width: calc(50% - 10px);
    padding-left: 19px;
    margin-bottom: 10px;
  }
  .filters-button-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .filters-text {
    font-size: var(--small-text-font-style);
    overflow: hidden;
  }

  /*Infos*/
  .search-info {
    margin: 0 20px 0;
  }
  .search-info-icon {
    width: 10px;
  }

  /*All Cards*/

  .hebergements-and-populaires section {
    border-radius: 0%;
  }
  .populaires {
    order: 1;
  }
  .hebergements {
    order: 2;
  }

  /*Popular ratings*/

  .populaires-cards {
    flex-direction: column;
  }
  .populaires-cards a {
    width: 100%;
  }
  .populaires-cards .card {
    margin-top: 15px;
  }

  /*Hostings*/

  .hebergements {
    background: none !important;
    margin-left: -5px;
  }
  .hostings-all {
    flex-direction: column;
    gap: 15px;
  }
  .hostings-all a {
    margin: 0 !important;
    padding: 0 !important;
  }
  .hostings-title {
    padding-bottom: 15px;
  }

  /*Activities*/

  .activities-all {
    flex-direction: column;
    gap: 15px;
  }
  .activities-title {
    padding-bottom: 30px;
  }
  .activities-link {
    margin: 0;
  }
  .activity img {
    max-height: 200px;
  }

  /*Footer*/

  .footer {
    flex-direction: column;
    height: auto;
  }
  .footer div {
    margin-top: 10px;
  }
  .footer-links {
    margin-left: 15px;
  }
}
