/******General***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;

  /*Text configuration*/
  --title-font-style: 18px;
  --text-font-style: 16px;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: var(--text-font-style);
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/******Header******/
.body-navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
}

.body-navbar img {
  width: 3.8rem;
  height: 19px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: -10px;
}

.navbar a {
  font-size: var(--text-font-style);
  margin-left: 50px;
  padding-top: 14px;
  gap: 68px;
}

.navbar a:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/*****Search*****/
.search-header h1 {
  font-size: 22px;
  margin: 0;
  padding-bottom: 8px;
}
.search-header p {
  font-size: var(--text-font-style);
  font-weight: 400;
  padding-bottom: 35px;
  margin: 0;
}

/*****Barnav*****/
.search-bar {
  display: flex;
}
#location-dot {
  color: #000000;
}
.search-bar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  background-color: var(--main-bg-color);
}
.search-bar input {
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  border-left: transparent;
  border-right: transparent;
  height: 49px;
  width: 195px;
}
::placeholder {
  color: #000000;
  font-weight: 700;
  font-size: var(--title-font-style);
  text-align: center;
}

.search-bar button {
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  border-radius: 0px 15px 15px 0px;
  height: 49px;
  width: 132px;
  color: #fff;
  font-size: var(--text-font-style);
  font-weight: 700;
  background-color: var(--main-color);
  cursor: pointer;
}
#glass {
  display: none;
}

/*****Filters*****/
.filters {
  display: flex;
  gap: 15px;
  padding-top: 35px;
}
.filters-title {
  font-size: var(--title-font-style);
  font-weight: 700;
}

.filters i {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters-button {
  font-size: var(--text-font-style);
  font-weight: 700;
  background-color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 4px 19px;
  height: 50px;
}
.filters-button:hover {
  background-color: #deebff;
}

/*****Details*****/
.search-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--text-font-style);
  padding-top: 35px;
  margin-bottom: 35px;
}
.search-info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  border: 1.2px solid #d9d9d9;
}

/******Hostings******/
.hostings-title {
  font-size: 22px;
  margin: 0;
  padding-bottom: 30px;
}
.ratings {
  display: flex;
  width: 14.294px;
  height: 13.25px;
  padding-top: 8px;
}
.hostings {
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.img-hosting {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 124px;
  object-fit: cover;
}

/*Modify text position with image*/
.hostings-all {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

/*Modify text position*/
.rooms {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  box-sizing: border-box;
}
.room1 h3 {
  font-size: var(--text-font-style);
  margin-bottom: 0;
  margin-top: 8px;
}
.room1 p {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.show-more {
  font-size: var(--title-font-style);
  font-weight: 700;
  margin-top: 30px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/******Activities*****/
.activities {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding-bottom: 30px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.activities-all {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.activities-link {
  width: 100%;
  height: 439px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 30px;
}
.activity img {
  display: flex;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 380px;
}
.activities h3 {
  font-size: var(--text-font-style);
  margin: 20px 0px 19px 20px;
}
.acitivities-title {
  font-size: 22px;
}

/******Footer******/

.footer {
  background-color: var(--main-bg-color);
  padding: 20px;
  padding-top: 0;
  display: flex;
  height: 163px;
}

.footer div {
  flex: 1;
}

.footer-links a {
  display: block;
  margin-bottom: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .search-bar {
    display: flex;
  }
  .filters {
    display: flex;
  }
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activities h3 {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .navbar a {
    display: flex;
    flex-wrap: wrap;
  }
  .search-bar {
    display: flex;
  }
  .filters {
    flex-wrap: wrap;
  }

  .hostings-all {
    flex-direction: column;
    gap: 20px;
  }

  .hostings {
    width: 100%;
  }

  .populaires-cards {
    flex-direction: column;
    width: 100%;
  }

  .activities-all {
    display: block;
    flex-direction: column;
    gap: 20px;
  }
  .activities-link {
    width: 33%;
  }
  .footer {
    flex-direction: column;
    width: 100%;
  }
}
